# Tokens e configurações sensíveis
local.env
.env

# Python
bin/
venv/

# Dependências e cache
compiler_compat/
conda-meta/
etc/
include/
lib/
man/
opt/
share/
ssl/

# Modelos e saídas
model/
models/
outputs/
*.png
*.jpg
*.jpeg

# Python cache
__pycache__/
*.py[cod]
*$py.class